.labels {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.label {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.1rem;
}

.label button {
    cursor: pointer;
    width: 1.6rem;
    height: 0.8rem;
    border-radius: 4px;
    border: none;
}

.label p {
    padding-left: 4px;
    font: clamp(0.5rem, 1vw, 1rem) "Times New Roman";
}
